<table mat-table [dataSource]="tableData" class="table">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <ng-container matColumnDef="stepNo">
      <th mat-header-cell *matHeaderCellDef>StepNo</th>
      <td mat-cell *matCellDef="let element"> {{element.stepNo}} </td>
    </ng-container>
  <ng-container matColumnDef="targetDuration">
    <th mat-header-cell *matHeaderCellDef>TargetDuration</th>
    <td mat-cell *matCellDef="let element"> {{element.targetDuration}} </td>
  </ng-container>
  <ng-container matColumnDef="activityGroup">
    <th mat-header-cell *matHeaderCellDef>ActivityGroup</th>
    <td mat-cell *matCellDef="let element"> {{element.activityGroup}} </td>
  </ng-container>
  <ng-container matColumnDef="activityPhase">
    <th mat-header-cell *matHeaderCellDef>ActivityPhase</th>
    <td mat-cell *matCellDef="let element"> {{element.activityPhase}} </td>
  </ng-container>
  <ng-container matColumnDef="mdFrom">
    <th mat-header-cell *matHeaderCellDef>MdFrom</th>
    <td mat-cell *matCellDef="let element"> {{element.mdFrom | number: '1.1-1'}} </td>
  </ng-container>
  <ng-container matColumnDef="mdTo">
    <th mat-header-cell *matHeaderCellDef>MdTo</th>
    <td mat-cell *matCellDef="let element"> {{element.mdTo | numberWithoutDigits}} </td>
  </ng-container>
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef>Cost</th>
    <td mat-cell *matCellDef="let element"> 
      <input class="cost" type="number" [value]="element.cost" (input)="updateData($event, element)" />
      <span *ngIf="element.cost != '' ">$</span>
    </td>
  </ng-container>
    
</table>