<main class="main">
  <mat-tab-group>
    <mat-tab label="Планируемые операции">
      <app-table></app-table>
    </mat-tab>
    <mat-tab label="Диаграмма">
      <app-diagram></app-diagram>
    </mat-tab>
  </mat-tab-group>
</main>