<div class="diagram">
    <canvas baseChart 
        width="800"
        height="600"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="true"
        [type]="'bar'"
    >
    </canvas>
</div>

